.item1 {grid-area: picture;}
.item2 {grid-area: header;}
.item3 {grid-area: date;}
.item4 {grid-area: likes;}
.item5 {grid-area: body;}


.comment-card {
    background-color: grey;
    display: grid;
    grid-template: 'picture copy copy';

}

.copy {
    display: grid;
    grid-template: 
        'header date likes'
        'body body body'
}


.deleting {
    box-shadow: 5px 5px 5px black;
}