nav {
    /* width: 100em; */
    padding-left: 25%;
    padding-right: 25%;
    background-color: #C61900;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.nav-img {
    padding-top: 1em;
    height: auto;
}